html{
    background-color: rgb(123, 238, 156);
    background-size:cover;
    font-family: Candara;
}

a{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 150px;
    color: rgb(16, 45, 109);
    text-decoration: none;

}