html{
    background:url(images/background.jpg) no-repeat center fixed;
    background-size:cover;
    font-family: Calibri;
}

h1{
    text-align: center;
    text-decoration:none;
    color: azure;
}

nav{
    list-style-type: none;
    background-color: rgb(118, 123, 158);
    text-align: center;
    margin-right: 600px;
    margin-left: 600px;    
}

a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.container{
    margin:auto;
    width: 1500px;
    height: 1500px;
}
.picone{
    float: left;
    margin: 5px;
    padding-left: 120px;
}

.pictwo{
    float: left;
    margin: 5px;

}

.picthree{
     float: left;
    margin: 5px;
}

.picfour{
    float: left;
    margin: 5px;
    padding-left: 120px;


}

.picfive{
    float: left;
    margin: 5px;

}

.picsix{
    float: left;
    margin: 5px;

}

.picseven{
    float: left;
    margin: 5px;
    padding-left: 120px;

}

.piceight{
    float: left;
    margin: 5px;
}

.picnine{
    float: left;
    margin: 5px;
}