html{
    background-color: rgb(123, 238, 156);
    background-size:cover;
    font-family: Candara;
    text-decoration-color: 
}

nav{
    list-style-type: none;
    background-color: rgb(16, 45, 109);
    text-align: center;
    margin-right: 340px;
    margin-left: 340px; 
    color: rgb(123, 238, 156);
    text-decoration: none;
    margin-right: auto;
    margin-left: auto; 
    margin-top: -8px;
}
h1{
    text-align: center;
    text-decoration:none;
    color: azure;
}


a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.container{
    margin:auto;
    width: 1500px;
    height: 1500px;
}
.picone{
    float: left;
    margin: 5px;
    padding-left: 120px;
}

.pictwo{
    float: left;
    margin: 5px;

}

.picthree{
     float: left;
    margin: 5px;
}

.picfour{
    float: left;
    margin: 5px;
    padding-left: 120px;


}

.picfive{
    float: left;
    margin: 5px;

}

.picsix{
    float: left;
    margin: 5px;

}

.picseven{
    float: left;
    margin: 5px;
    padding-left: 120px;

}

.piceight{
    float: left;
    margin: 5px;
}

.picnine{
    float: left;
    margin: 5px;
}